@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 95%);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 3rem;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.5rem 0 0 0.5rem;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.5rem 0.5rem 0;
}

section h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(0, 0%, 95%);
}

section p {
    max-width: 23ch;
    margin-bottom: 5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    width: 70%;
    padding: 1em;
    border: 0.2em solid hsl(0, 0%, 95%);
    border-radius: 1.5rem;
}

.sedans > button {
    color: hsl(31, 77%, 52%);
}

.suvs > button {
    color: hsl(184, 100%, 22%);
}

.luxury > button {
    color: hsl(179, 100%, 13%);
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: hsla(0, 0%, 100%, 0.75);
    border: 0.2em solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 950px) {
    body {
        padding: 5rem;
    }

    main {
        flex-flow: column;
    }

    .sedans {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .luxury {
        border-radius: 0 0 0.5rem 0.5rem;
    }
}