@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../imagens/espaco.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div {
    background-image: url("../imagens/astronauta.png");
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}